@import "_base.css";
@import "_fonts.css";
@import "_colors.css";

.app-body {
  display: grid;
  height: 100vh;
  grid-template-rows: 11vh auto 10vh;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem;
  border-bottom: 1px solid blue;
}

.header-element {
  border: 2px solid blue;
}

.icon {
  height: 50px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
  color: antiquewhite;
}

.characterCard {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.character-selection {
  gap: 0.3rem;
  display: flex;
  flex-direction: column;
}

.character-name {
  text-align: center;
  padding: 0.5rem 0;
}

.character-pic {
  border-bottom: 2px solid #4e4c4c;
}

.alive-bg {
  background-color: #478847;
}

.dead-bg {
  background-color: black;
  color: #f7f4f4;
}
.unknown-bg {
  background-color: #ecc47a;
}

.showContentBtn {
  width: 80px;
}

/*.dropdown-livingStatus {
  display: none;
  position: absolute;
  z-index: 1;
}*/

.dropdown-options a {
  display: block;
  text-decoration: none;
  color: blue;
}
