@import "_base.css";
@import "_fonts.css";
@import "_colors.css";

.app-body {
  display: grid;
  height: 100vh;
  grid-template-rows: 10vh auto 10vh;
}

.header {
  display: flex;
  justify-content: space-evenly;
  padding: 0.8rem;
  border-bottom: 1px solid blue;
}

.header-element {
  border: 2px solid blue;
}

.icon {
  height: 50px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
  color: antiquewhite;
}

.characterCard {
  border: 1px solid black;
}
